<!DOCTYPE html>
<div class="form-group">
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th># </th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of teamPlayer; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
<!-- when $scope.myValue is truthy (element is restored) -->
<div ng-if="1">
<div ng-controller="TestController as testCtrl">
  <form ng-submit="addText(form)">
    <input type="name" ng-model="form.text1" value="Lets go">
    <input type="lastName" ng-model="form.text2" value="Lets go again">
    <input type="submit" value="add">
  </div>
  <!-- when $scope.myValue is falsy (element is removed) -->
  <div ng-if="0">

  </div> 
  </form>
</div>
</html>